<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script> 

<style type="text/css">
  html { height: 100% }
  body { height: 100%; }  
  .container-fluid { height: 100%;}
  .row-fluid { height: 90%; margin-top: 20px;}
  #gMap { height: 100%; width: 50%;}
</style>

<div class="row-fluid">
  
  <div id="gMap" class="span10 well" > <!--style="border: 1px solid green">-->        
    <div id="search_points">      
      <%= form_for( @point, url: request.fullpath, method: :get, html: {class: "well form-inline"}) do |f|%>
        <%= f.label :address, "Dirección " %>
        <%= f.text_field :lat, value: @point.latitude, class: "input-mini" %>        
        <%= f.text_field :lon, value: @point.longitude, class: "input-mini" %>
        <%= text_field_tag :search, params[:search], class: "input-xlarge" %>        
        <%= submit_tag :Buscar, id: "search_place", class: "input-mini btn" %>      
      <% end %>
    </div> 

    <div id="map_canvas" class="well" style="width:92%; height:65%"></div>      
  </div >

  <div class="span5 well" >    
    <%= form_for(@point, html: {class: "form-horizontal"}) do |f| %> 
      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.label :place, "Nombre del lugar" %>
      <%= f.text_field :place %>
        
      <%= f.label :address, "Dirección" %>
      <%= f.text_field :address %>

      <%= f.text_field :latitude, value: @point.latitude, class: "input-mini" %>        
      <%= f.text_field :longitude, value: @point.longitude, class: "input-mini" %>
    
      <br><br>
      <% if params[:action]== 'new' %>
        <%= f.submit "Crear Punto", class: "btn btn-primary" %>
      <% elsif params[:action] == 'edit'||'update' %>
        <%= f.submit "Guardar cambios", class: "btn btn-primary" %>
      <% end %>
      <br><br>
      <div id="markerStatus"><i></i></div>

    <p id="notice"><%= notice %></p>
  <% end %>
<% if @point.errors.any? %>
      <div class="alert alert-error">
        <span class="label label-important">
          Hay <%= pluralize(@point.errors.count, "error", "errores") %>:
        </span>
        <ul>
          <% @point.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  </div>

  <div class="span3">
    
  </div>  

</div>

<script type="text/javascript">
    var geocoder = new google.maps.Geocoder();

    function geocodePosition(pos) {
       geocoder.geocode({
           latLng: pos
       }, function(responses) {
           if (responses && responses.length > 0) {
               updateMarkerAddress(responses[0].formatted_address);
           } else {
               updateMarkerAddress('No se puede determinar esta dirección.');
           }
       });
     }

     function updateMarkerStatus(str) {
         document.getElementById('markerStatus').innerHTML = str;
     }

    function updateMarkerPosition(latLng) {      
        $('#point_latitude').val(latLng.lat());
        $('#point_longitude').val(latLng.lng());
        $('#point_lat').val(latLng.lat());
        $('#point_lon').val(latLng.lng());
    }

    function updateMarkerAddress(str) {
        $('#point_address').val(str);
    }

  function initialize() {
    
    var latLng = new google.maps.LatLng(<%= @point.latitude %>, <%= @point.longitude%>);    
    <% if params[:action] == "edit" || "update" %>
      var zoom = 15
    <% else %>
      var zoom = 12
    <% end %>
    
    var myOptions = {
      zoom: zoom,
      center:latLng,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);    
    
    var marker = new google.maps.Marker({
      position:latLng,
      title: "Nuevo Lugar",
      map: map,
      draggable: true
    });

    // Update current position info.
    updateMarkerPosition(latLng);
    geocodePosition(latLng);

    google.maps.event.addListener(marker, 'drag', function () {
      updateMarkerStatus('... Buscando ...');
      updateMarkerPosition(marker.getPosition());   
    });

    google.maps.event.addListener(marker, 'dragend', function () {
      geocodePosition(marker.getPosition());
      updateMarkerStatus('');
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

