<h1>Listado de puntos</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Type</th>
    <th>Address</th>
    <th></th>
  </tr>

  <% @points.each do |p| %>
      <tr>
        <td><%= p.latitude %></td>
        <td><%= p.longitude %></td>
        <td><%= p.place %></td>
        <td><%= p.address %></td>
        <td><%= link_to 'Ver', p %></td>
        <td><%= link_to 'Editar', edit_point_path(p) %></td>
        <td><%= link_to 'Eliminar', p, confirm: 'Estás seguro de eliminar a ' + p.address + '?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Nuevo Punto', new_point_path %>




