

<div class="row-fluid">
  <div id="gMap" class="span10">
    <%= render "layouts/testingMap" %>
  </div>

  <div class="span3">
    <br><br><br><br><br><br><br>
    <p>
      <b>Address:</b>
      <%= @point.address %>
    </p>

    <p>
      <b>Latitude:</b>
      <%= @point.latitude %>
    </p>

    <p>
      <b>Longitude:</b>
      <%= @point.longitude %>
    </p>

  </div>
  <div class="span3">
    <!--
    <p>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x200&sensor=false&zoom=13&markers=#{@point.latitude}%2C#{@point.longitude}" %>
    </p>
  -->

    <p>
      <b>Creador:</b>
      <%= link_to @user.name, @user %>
    </p>

  </div>


</div>


<%= link_to 'Edit', edit_point_path(@point), class: "btn" %>
<%= link_to 'Back', points_path, class: "btn" %>


  