<p id="notice"><%= notice %></p>

<ul class="thumbnails">
  <li class="span1">
    <img src="http://placehold.it/70x70" alt="" class="thumbnail">
  </li>
  <li class="span10">
    </br>
    <h4><%= @user.name %></h4>

    <%= @user.email %>

  </li>
</ul>

<table class="table table-striped table-bordered">
  <tr>
    <th>Nombre</th>
    <th>Dirección</th>
  </tr>
  <% @points.each do |p| %>
      <tr>
        <td><%= link_to p.place, p %></td>
        <td><%= p.address %></td>
      </tr>
  <% end %>
</table>

<% if current_user &&current_user.is_admin? %> 
  <%= link_to 'Edit', edit_user_path(@user), class: "btn" %>
<% end %>
<%= link_to 'Back', users_path, class: "btn" %>

