<!DOCTYPE html>
<html>
<head>
  <title>BiciNETa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <h1><%= link_to "BiciNETa!", root_path %></h1>
    <% if signed_in? %>
          Logueado como <%= link_to current_user.name, current_user %>
          <%= link_to "(Salir)", signout_path, method: "delete" %>
    <% end %>


    <%= yield %>
</body>
</html>
